<div class="col-md-auto">
  <h3>{{pageTitle}}</h3>
</div>
<div class="ccol-md-6">
  <form [formGroup]="gameForm" (ngSubmit)="save()" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty }">
      <label for="gameName">Name:</label>
      <em *ngIf="name.invalid && name.dirty">Required</em>
      <input formControlName="name" id="gameName" type="text" class="form-control" placeholder="game name..." />
    </div>
    <div class="form-group">
      <label for="platformTypes">PlatformTypes:</label>
      <ng-multiselect-dropdown formControlName="platformTypes"
        [placeholder]="'platform Types...'" [data]="dropdownList" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="genres">Genres:</label>
      <ng-multiselect-dropdown formControlName="genres"
        [placeholder]="'select genres...'" [data]="dropdownListGenres" [(ngModel)]="selectedItemsGenre"
        [settings]="dropdownSettings">
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description" rows=3 class="form-control"
        placeholder="description..."></textarea>
    </div>
    <button type="submit" [disabled]="!isCanSave()" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
  </form>
</div>
