.messages {
  margin-bottom: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  max-width: 500px;

  .message {
    display: flex;

    .message-text {
      padding: 8px;
      display: list-item;


      span {
        font-size: 11px;
        opacity: 1.1;
        font-weight: bold;
      }
      p {
        font-size: 15px;
        opacity: 0.8;
        margin: 1px 0;
      }
    }
  }
}

.ytd-button-renderer {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
