thead {
  color: #337ab7;
}
button.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}
virtual-scroller {
  width: 350px;
  height: 150px;
  position: absolute;
  z-index: 10;
}

my-custom-component {
  display: block;
  width: 100%;
  height: 30px;
}
