<div class="col-md-12">
  <h3>Add Game</h3>
</div>
<div class="col-md-6">
  <form [formGroup]="gameForm" (ngSubmit)="saveGame(gameForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty }">
      <label for="gameName">Name:</label>
      <em *ngIf="name.invalid && name.dirty">Required</em>
      <input formControlName="name" id="gameName" type="text" class="form-control" placeholder="game name..." />
    </div>
    <div class="form-group">
      <label for="platformTypes">PlatformTypes:</label>
      <ng-multiselect-dropdown (ngModelChange)="onChangePlatformTypes($event)" formControlName="platformTypes"
        [placeholder]="'platform Types...'" [data]="dropdownList" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="genres">Genres:</label>
      <ng-multiselect-dropdown (ngModelChange)="onChangeGenres($event)" formControlName="genres"
        [placeholder]="'select genres...'" [data]="dropdownListGenres" [(ngModel)]="selectedItemsGenre"
        [settings]="dropdownSettings">

      </ng-multiselect-dropdown>
    </div>
    <div class="form-group" [ngClass]="{'error': description.invalid && description.dirty }">
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description" rows=3 class="form-control"
        placeholder="description..."></textarea>
    </div>
    <button type="submit" [disabled]="gameForm.invalid" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
  </form>
</div>
